<?xml version='1.0'?>
<robot name="new_april_cube">
  <link name="my_box">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="0.001" />
      <inertia  ixx="1e-8" ixy="0.0"  ixz="0.0"  iyy="1e-8"  iyz="0.0"  izz="1e-8" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://apriltags_gazebo/models/new_apriltag/new_apriltag.dae" scale=".5 .5 .5" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://apriltags_gazebo/models/new_apriltag/new_apriltag.dae" scale=".5 .5 .5" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="my_box">
   <visual>
    <material>
      <emissive>0.3 0.6 0 1</emissive>
    </material>
  </visual>
  </gazebo>
</robot>
