<?xml version="1.0"?>

<model>
  <name>new_april_cube</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Daniel Ruiz</name>
    <email>druiz@our.ecu.edu.au</email>
  </author>

  <description>
	An improved version of april tag to be used for the ros course
  </description>
</model>
