<?xml version="1.0" ?>
<model>
    <name>STAND</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Daniel Ruiz</name>
        <email>druiz@our.ecu.edu.au</email>
    </author>
    <description>A stand for the april cubes to sit on. It is easier for the abb arm to grab an object from this stand</description>
</model>
